<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aeVeganDiary.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
				<key>dateExpires</key>
				<string>2023/09/05</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKUser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>952BC316A2DC47CD71F7A805AC529F4BB262E1ED</string>
						<key>dateExpires</key>
						<string>2023/09/05</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7B7X32G7J9</string>
						<key>name</key>
						<string>Haeun Kwon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7B7X32G7J9.com.ae.chaebbi.ios</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7B7X32G7J9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>aeVeganDiary.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7704f36c-5877-4519-971d-31d0abef6eee</string>
				<key>dateExpires</key>
				<string>2023/09/05</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.ae.chaebbi.ios</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7B7X32G7J9</string>
				<key>name</key>
				<string>Haeun Kwon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
